# private
frontend/.env*
frontend/config/
frontend/public/
frontend/scripts/
frontend/src/api/feature_ids.json
frontend/src/api/mapbox_config.ts
frontend/src/components/CovidMap.tsx
frontend/src/components/DateController.tsx
frontend/src/components/Legend.tsx
