.map-loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #19191A;
  z-index: 10;
}

.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #19191A;
}
     
.date-label {
  background-color: rgba(255, 255, 255, 0.12);
  color: #fff;
  padding: 2px 12px;
  font-weight: 900;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 16px;
  border-radius: 4px;
  opacity: 0.8;
}
