.date-controller {
  z-index: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 90px;
  padding: 12px 36px 36px 24px;
  box-sizing: border-box;
  display: inline-flex;
}

.date-buttons {
  flex-grow: 1;
  max-width: 140px;
}

.date-speedtext {
  display: flex;
  flex-grow: 2;
  max-width: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  margin-top: 3px;
}

.date-slider {
  flex-grow: 3;
  margin-top: 5px;
  margin-left: 35px;
}