.date-controller {
  z-index: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 90px;
  padding: 12px 36px 90px 36px;
  box-sizing: border-box;
  display: inline-flex;
}

.date-buttons {
  flex-grow: 1;
  max-width: 60px;
}

.date-speed-input {
  flex-grow: 2;
  max-width: 85px;
  margin-left: 30px;
  margin-top: 7px;
}

.date-slider {
  flex-grow: 3;
  margin-top: 10px;
  margin-left: 35px;
}