.info-button {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  margin: 11px 4px 12px 12px;
  padding-top: 3px;
}

#info-modal-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 45px;
}

.info-modal-name {
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: -5px;
}

.info-modal-name > * {
  margin: 0px 5px;
}

#info-modal-career {
  font-weight: 400;
  margin-bottom: 20px;
}

.info-popover {
  position: absolute;
  bottom: 0;
  right: 0;
}

#info-modal-description > * {
  margin-bottom: 15px;
}