.legend {
  background-color: rgba(255, 255, 255, 0.12);
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 12px;
  margin-bottom: 110px;
  padding: 12px;
  padding-top: 6px;
  box-shadow: 0 2px 10px 0 rgba(26, 34, 36, 0.1);
  border-radius: 4px;
  z-index: 1;
  max-width: 180px;
}

.legend-header {
  margin-bottom: 4px;
}

.legend-title {
  font-weight: bold;
  font-size: 12px;
  line-height: 6px;
  display: block;
  color: lightgray;
}

.legend-description {
  font-size: 12px;
  line-height: 6px;
  color: lightgray;
}

.legend-color {
  margin-right: 6px;
  border-radius: 9999px;
  width: 12px;
  height: 12px;
  display: inline-block;
  vertical-align: middle;
}

.legend-line {
  font-size: 12px;
  line-height: 18px;
  color: lightgray;
}